---
http_interactions:
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/xml/zipcodes.svc//78702/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <RetrieveZipCodeInfoResponse xmlns="http://tempuri.org/"><RetrieveZipCodeInfoResult
        xmlns:a="http://schemas.datacontract.org/2004/07/Zips.DTO" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:City
        i:nil="true"/><a:Continent i:nil="true"/><a:ContinentCode i:nil="true"/><a:Country
        i:nil="true"/><a:CountryCode i:nil="true"/><a:County i:nil="true"/><a:Latitude>0</a:Latitude><a:Longitude>0</a:Longitude><a:PostalCode
        i:nil="true"/><a:State i:nil="true"/><a:StateCode i:nil="true"/></RetrieveZipCodeInfoResult></RetrieveZipCodeInfoResponse>
  recorded_at: Thu, 31 Jul 2014 05:46:36 GMT
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/xml/zipcodes.svc/<API_KEY>/78702/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <RetrieveZipCodesInRadiusResponse xmlns="http://tempuri.org/"><RetrieveZipCodesInRadiusResult
        xmlns:a="http://schemas.datacontract.org/2004/07/Zips.DTO" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:ZipCodeWithDistanceDTO><a:City>Austin</a:City><a:Continent>North
        America</a:Continent><a:ContinentCode>NA</a:ContinentCode><a:Country>United
        States</a:Country><a:CountryCode>US</a:CountryCode><a:County>Travis Williamson</a:County><a:DistanceAwayInKilometers>0.00000000000</a:DistanceAwayInKilometers><a:DistanceAwayInMiles>0.000000</a:DistanceAwayInMiles><a:Latitude>30.295800</a:Latitude><a:Longitude>-97.810100</a:Longitude><a:PostalCode>78701</a:PostalCode><a:State>TX</a:State></a:ZipCodeWithDistanceDTO><a:ZipCodeWithDistanceDTO><a:City>Austin</a:City><a:Continent>North
        America</a:Continent><a:ContinentCode>NA</a:ContinentCode><a:Country>United
        States</a:Country><a:CountryCode>US</a:CountryCode><a:County>Travis Williamson</a:County><a:DistanceAwayInKilometers>0.00000000000</a:DistanceAwayInKilometers><a:DistanceAwayInMiles>0.000000</a:DistanceAwayInMiles><a:Latitude>30.295800</a:Latitude><a:Longitude>-97.810100<[...]
