---
http_interactions:
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/ipaddress.svc/GetIP?apikey=&ip=184.98.179.3
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"RetrieveIPAddressDataResult":{"AreaCode":null,"City":null,"Continent":null,"ContinentCode":null,"Country":null,"CountryCode":null,"County":null,"IPAddress":null,"ISP":null,"Latitude":null,"Longitude":null,"State":null,"StateCode":null,"ZipCode":null}}'
  recorded_at: Thu, 31 Jul 2014 05:46:36 GMT
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/ipaddress.svc/GetIP?apikey=<API_KEY>&ip=184.98.179.3
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"RetrieveIPAddressDataResult":{"AreaCode":"602","City":"Phoenix","Continent":"North
        America","ContinentCode":"NA","Country":"United States","CountryCode":"US","County":"Maricopa","IPAddress":"184.98.179.3","ISP":"Eonix
        Corporation","Latitude":33.448100,"Longitude":-112.073200,"State":"Arizona","StateCode":"AZ","ZipCode":"85001"}}'
  recorded_at: Thu, 31 Jul 2014 15:39:23 GMT
recorded_with: VCR 2.9.2
