---
http_interactions:
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/zipcodes.svc/GetDistanceBetweenZipCodes?apikey=&zipcode1=78702&zipcode2=01109
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"RetrieveDistanceBetweenZipCodesResult":{"DistanceAwayInKilometers":0,"DistanceAwayInMiles":0,"ZipCode1":null,"ZipCode2":null}}'
  recorded_at: Thu, 31 Jul 2014 05:46:36 GMT
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/zipcodes.svc/GetDistanceBetweenZipCodes?apikey=<API_KEY>&zipcode1=78702&zipcode2=01109
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"RetrieveDistanceBetweenZipCodesResult":{"DistanceAwayInKilometers":2601.50019409530,"DistanceAwayInMiles":1616.501295,"ZipCode1":"78702","ZipCode2":"01109"}}'
  recorded_at: Thu, 21 Aug 2014 17:59:02 GMT
recorded_with: VCR 2.9.2
