---
http_interactions:
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/ipaddress.svc/GetZipsInRadiusOfIP?apikey=&ip=184.98.179.3&radius=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"RetrieveZipCodesInRadiusOfIPResult":null}'
  recorded_at: Thu, 31 Jul 2014 05:46:36 GMT
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/ipaddress.svc/GetZipsInRadiusOfIP?apikey=<API_KEY>&ip=184.98.179.3&radius=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"RetrieveZipCodesInRadiusOfIPResult":[{"City":"Chino Valley","Continent":"North
        America","ContinentCode":"NA","Country":"United States","CountryCode":"US","County":"Yavapai","DistanceAwayInKilometers":0.00009495106,"DistanceAwayInMiles":0.000059,"Latitude":34.824500,"Longitude":-112.459500,"PostalCode":"86323","State":"AZ"}]}'
  recorded_at: Thu, 31 Jul 2014 15:39:23 GMT
recorded_with: VCR 2.9.2
