---
http_interactions:
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/cities.svc//1/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"GetCitiesByProvinceResult":null}'
  recorded_at: Thu, 31 Jul 2014 05:46:36 GMT
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/cities.svc/<API_KEY>/1/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"GetCitiesByProvinceAndCountryResult":[{"City":"","Country":"United
        States","CountryAbbreviation":"US","CountryId":1,"County":"","Id":12245,"Province":"Alabama","ProvinceAbbreviation":"AL","ProvinceId":1},{"City":"Abbeville","Country":"United
        States","CountryAbbreviation":"US","CountryId":1,"County":"Henry","Id":12246,"Province":"Alabama","ProvinceAbbreviation":"AL","ProvinceId":1},{"City":"Adamsville","Country":"United
        States","CountryAbbreviation":"US","CountryId":1,"County":"Jefferson","Id":12247,"Province":"Alabama","ProvinceAbbreviation":"AL","ProvinceId":1},{"City":"Addison","Country":"United
        States","CountryAbbreviation":"US","CountryId":1,"County":"Winston","Id"[...]
