---
http_interactions:
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/zipcodes.svc//78702/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"RetrieveZipCodeInfoResult":{"City":null,"Continent":null,"ContinentCode":null,"Country":null,"CountryCode":null,"County":null,"Latitude":0,"Longitude":0,"PostalCode":null,"State":null,"StateCode":null}}'
  recorded_at: Thu, 31 Jul 2014 05:46:35 GMT
- request:
    method: get
    uri: https://www.zipcodeservices.com/services/rest/json/zipcodes.svc/<API_KEY>/78702/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"RetrieveZipCodesInRadiusResult":[{"City":"Austin","Continent":"North
        America","ContinentCode":"NA","Country":"United States","CountryCode":"US","County":"Travis
        Williamson","DistanceAwayInKilometers":0.00000000000,"DistanceAwayInMiles":0.000000,"Latitude":30.295800,"Longitude":-97.810100,"PostalCode":"78701","State":"TX"},{"City":"Austin","Continent":"North
        America","ContinentCode":"NA","Country":"United States","CountryCode":"US","County":"Travis
        Williamson","DistanceAwayInKilometers":0.00000000000,"DistanceAwayInMiles":0.000000,"Latitude":30.295800,"Longitude":-97.810100,"PostalCode":"78702","State":"TX"},{"City":"Austin","Continent":"North
        America","ContinentCode":"NA","Country":"United States","Coun[...]
